<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vali Admin</title>
    <div th:replace="admin/init_admin :: header"></div>
    <style >
        #img_user{
            width: 45px;
            height: 45px;
            border-radius: 40px;
        }
        #success{
            padding: 10px;
        }
    </style>
</head>
<body class="app sidebar-mini">
<div th:replace="admin/header :: content"></div>
<div th:replace="admin/sidebar :: content"></div>
<main class="app-content">
    <div class="app-title">
        <h5 style="padding-top: 10px"><i class="fa fa-user fa-lg mr-3"></i> Danh sách user </h5>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Quản lí user</a></li>
            <li class="breadcrumb-item"><a href="#">Danh sách user</a></li>
        </ul>
    </div>
    <div class="row" style="margin-top: -18px">
        <div class="col-md-12">
            <div class="x_title">
                <h5>Tùy chọn tìm kiếm</h5>
                <div class="clearfix"></div>
            </div>
            <div>
                <form th:action="@{/admin/user/search-user}" method="get">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                            <label>Username</label>
                            <div>
                                <input class="form-control" name="username" type="text" th:text="${strUser}">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                            <label>Email</label>
                            <div>
                                <input class="form-control" name="email" type="text" th:text="${strEmail}">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                            <label>Phone</label>
                            <div>
                                <input class="form-control" name="phone" type="text" th:text="${strPhone}">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-sm-4 col-xs-3">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="bg-success col-md-12" id="success"
             th:if="${not #strings.isEmpty(success)}" th:text="${success}" style="color: white">
        </div>
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Sex</th>
                                <th>Birthday</th>
                                <th>Role</th>
                                <th>Tùy chọn</th>
                            </tr>
                            </thead>
                            <tbody th:if="${pageInfo.content != null}">
                            <tr th:each=" row,iterStat: ${pageInfo.content}">
                                <td th:text="${iterStat.count}"></td>
                                <td><img id="img_user" th:src="@{'/image/user/'+ ${row.image}}"></td>
                                <td th:text="${row.username}"></td>
                                <td th:text="${row.fullname}"></td>
                                <td th:text="${row.email}"></td>
                                <td th:text="${row.phone}"></td>
                                <td th:if="${row.gender == null}"></td>
                                <td th:if="${row.gender==1}">Nam</td>
                                <td th:if="${row.gender==0}">Nữ</td>
                                <td th:text="${#dates.format(row.birthday, 'dd/MM/yyy')}"></td>
                                <td th:text="${row.getRoles().get(0).getRole()}"></td>
                                <td>
                                    <a th:href="@{/admin/user/detail/{id}(id=${row.id})}" class="p-1"><i class="fa fa-info-circle fa-lg" ></i></a>
                                    <a th:href="@{/admin/user/update/{id}(id=${row.id})}" class="p-1"><i class="fa fa-edit fa-lg" style="color: #005cbf"></i></a>
                                    <a th:href="@{/admin/user/delete/{id}(id=${row.id})}" class="p-1"><i  class="fa fa-trash-o fa-lg " style="color: #c82333"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="float-left">
                            <span>Số bản ghi: </span><span th:text="${itemPerPage}"></span>/<span th:text="${total}"></span>
                        </div>
                        <div class="float-right">
                            <ul class="pagination ">
                                <li class="page-item" th:if="${pageInfo.number + 1} != 1">
                                    <a class="page-link" th:href="@{|/admin/user/list-user?page=${pageInfo.number}|}">&laquo;</a>
                                </li>

                                <th:block  th:each=" itemPage : ${#numbers.sequence((pageInfo.number - 5), (pageInfo.number + 5))}" >
                                    <li th:classappend="${itemPage} == ${pageInfo.number + 1} ? 'active' : ''" class="page-item" th:if="${itemPage} > 0 AND ${itemPage} <= ${pageInfo.totalPages}">
                                        <a
                                                th:if="${itemPage} != ${pageInfo.number + 1}"
                                                class="page-link"
                                                th:href="@{|/admin/user/list-user?page=${itemPage}|}"
                                                th:text="${itemPage}"
                                        >1</a>
                                        <p th:unless="${itemPage} != ${pageInfo.number + 1}" th:text="${itemPage}" class="page-link">1</p>
                                    </li>
                                </th:block>

                                <li class="page-item" th:if="${pageInfo.number + 1} != ${pageInfo.totalPages}">
                                    <a class="page-link" th:href="@{|/admin/user/list-user?page=${pageInfo.number + 2}|}">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $("#userManager").addClass("active");
</script>
</body>
</html>