<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Admin Home</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="admin/sidebar :: content"></div>
        <div th:replace="admin/header :: content"></div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> <small>Danh sách người dùng</small></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- page content -->
    </div>
</div>
<div th:replace="admin/footer :: content"></div>
</div>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $(document).ready(function () {
        $('#userManager').addClass("active");
    });
</script>
</body>
</html>