<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vali Admin</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="app sidebar-mini">
<div th:replace="admin/header :: content"></div>
<div th:replace="admin/sidebar :: content"></div>
<main class="app-content">
    <div class="app-title">
        <h5 style="padding-top: 10px"><i class="fa fa-home"></i> Wellcome to Admin Dashboard </h5>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h5>Số thành viên</h5>
                    <p><b>5</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h5>Số bài học</h5>
                    <p><b>25</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
                <div class="info">
                    <h5>Số bài kiểm tra</h5>
                    <p><b>10</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
                <div class="info">
                    <h5>Tin tức</h5>
                    <p><b>500</b></p>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $("#home").addClass("active");
</script>
</body>
</html>