<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vali Admin</title>
    <div th:replace="admin/init_admin :: header"></div>
    <style>
        .hidden{
            display: none;
        }
        .show{
            display: block;
        }
    </style>
</head>
<body class="app sidebar-mini">
<div th:replace="admin/header :: content"></div>
<div th:replace="admin/sidebar :: content"></div>
<main class="app-content">
    <div class="app-title">
        <h5 style="padding-top: 10px"><i class="fa fa-user mr-2 fa-lg"></i>Quản lí thông tin</h5>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Quản lí user</a></li>
            <li class="breadcrumb-item"><a href="#">Quản lí thông tin</a></li>
        </ul>
    </div>
    <div class="container rounded bg-white">

        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center">
                    <img class=" mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                    <span class="font-weight-bold mt-2" th:value="${username}"></span>
                    <span class="text-black-50" th:value="${email}"></span>
                    <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
                        <input type="file" class="ml-5 pl-5 mt-3"  />
                        <input type="submit" value="Change Avatar" class="btn btn-primary profile-button mt-3">
                    </form>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <form th:action="@{/profile}" method="post"  >
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Thông tin tài khoản</h4>
                        </div>
                        <div class="bg-danger" id="error"
                             th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">
                        </div>
                        <div class="bg-success" id="success"
                             th:if="${not #strings.isEmpty(success)}" th:text="${success}" style="color: white;padding: 10px">
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Username</label>
                                <input type="text" class="form-control" name="username" th:value="${us.username}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Fullname</label>
                                <input type="text" class="form-control" name="fullname"  th:value="${us.fullname}" >
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Email</label>
                                <input type="text" class="form-control" name="email" th:value="${us.email}" readonly >
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Số điện thoại</label>
                                <input type="text" class="form-control" name="phone" th:value="${us.phone}" >
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Địa chỉ</label>
                                <input type="text" class="form-control" name="address" th:value="${us.address}" >
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Giới tính</label>
                                <select class="col-md-12 p-2" name="gender" >
                                    <option value="" th:selected="${us.gender==null}">Tùy chọn</option>
                                    <option value="1" th:selected="${us.gender==1}">Nam</option>
                                    <option value="0" th:selected="${us.gender==0}">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Sinh nhật</label>
                                <input id="datepicker" class="form-control" name="birthday" th:value="${#dates.format(us.birthday, 'dd-MM-yyy')}" />
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Quyền</label>
                                <input type="text" class="form-control" name="role" th:value="${us.getRoles().get(0).getRole()}" readonly>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Lưu thông tin</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <form th:action="@{/profile/changepass}" method="post">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text-right">Thay đổi mật khẩu</h4>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="labels">Nhập mật khẩu cũ</label>
                            <input type="password" class="form-control"  name="password_old" >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Nhập mật khẩu mới</label>
                            <input type="password" class="form-control"  name="password1" id="pass1">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control"  name="password2" id="pass2" >
                            <p class="hidden" style="color: red" id="err">Mật khẩu không trùng khớp.</p>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <input type="submit" id="btnSubmit" value="Thay đổi password" class="btn btn-primary profile-button mt-3 ml-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $(document).ready(function () {
        $("#userManager").addClass("active");
        $('#error').delay(5000).fadeOut(1000);
        $('#success').delay(5000).fadeOut(1000);

        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            uiLibrary: 'bootstrap4',
            format: 'dd-mm-yyyy'
        });

    });


    $("#btnSubmit").click(function (){
        var pass1= $("#pass1").val();
        var pass2= $("#pass2").val();
        console.log("xxx");
        console.log("xx"+ pass1,pass2);
        if(pass1=== pass2){
            $('#err').addClass("hidden");
            return true;
        }
        else {
            $('#err').removeClass("hidden");
            return false;
        }
    })
</script>
</body>
</html>