<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Admin Home</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="admin/sidebar :: content"></div>
        <div th:replace="admin/header :: content"></div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><small>Thống kê</small></h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_title">
                        </div>
                        <h5>Thống kê điểm</h5>
                    </div>
                    <br>

                </div>
            </div>
        </div>
        <!-- page content -->
    </div>
</div>
<div th:replace="admin/footer :: content"></div>
</div>
<div th:replace="admin/init_admin :: script"></div>
<script th:src="@{/ckeditor/ckeditor.js}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#userManager').addClass("active");
    });
    $(document).ready(function (){
        CKEDITOR.replace('content')
    })
</script>
</body>
</html>