<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Cập nhật lớp học</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="admin/sidebar :: content"></div>
        <div th:replace="admin/header :: content"></div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> <small>Quản lí lớp học</small></h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="bg-danger col-md-6" id="error"
                         th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">
                    </div>
                    <div class="col-md-6 ">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Cập nhật lớp học</h4>
                            </div>
                            <form th:action="@{/class/update-class}" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <input hidden name="idClass" th:value="${cl.id}" >
                                        <div class="col-md-12">
                                            <label class="labels">Mã lớp học</label>
                                            <input type="text" class="form-control" name="classCode" th:value="${cl.code}" >
                                            <span id="vld-classCode" class="span-vld hide">Mã code không được để trống </span>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Tên lớp học</label>
                                            <input type="text" class="form-control" name="className" th:value="${cl.classname}" >
                                            <span id="vld-className" class="span-vld hide">Tên lớp học không được để trống </span>
                                        </div>
                                        <div class="col-md-12">
                                            <br>
                                            <label class="labels">Trạng thái</label>
                                            <select class="form-control" name="status">
                                                <option value="1" th:selected="${cl.status==1}">Hoạt động</option>
                                                <option value="0" th:selected="${cl.status==0}">Không hoạt động</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 ">
                                        <div class="col-md-12 col-sm-12">
                                            <label class="label">Hình ảnh lớp học</label>
                                            <input type="file" name="image" id="fileImage"
                                                   accept="image/jpeg, image/png, image/jpg"   >
                                        </div>
                                        <div class="col-md-12 col-sm-12 mt-3">
                                            <img id="imgPreview" style="width: 150px;height: 150px" th:src="@{/image/classroom/{image}(image=${cl.image})}">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 text-center">
                                    <button class="btn btn-success" type="submit">Update lớp học</button>
                                    <a th:href="@{/class/list-class}" class="btn btn-danger">Hủy bỏ</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page content -->
    </div>
</div>
<div th:replace="admin/footer :: content"></div>
</div>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $('#classManager').addClass("active");

</script>
</body>
</html>