<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quản lí câu hỏi</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="admin/sidebar :: content"></div>
        <div th:replace="admin/header :: content"></div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> <small>Danh sách câu hỏi</small></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_title">
                            <h5>Tùy chọn tìm kiếm</h5>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <form th:action="@{/question/list-question-by-subject-class}" method="get">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Môn học</label>
                                        <select class="form-control" name="subjectId">
                                            <option value="">Tùy chọn</option>
                                            <option th:each="item : ${listSubject}"
                                                    th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Lớp</label>
                                        <select class="form-control" name="classId">
                                            <option value="">Tùy chọn</option>
                                            <option th:each="item : ${listClass}"
                                                    th:value="${item.id}" th:text="${item.classname}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-success">Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- page content -->
    </div>
</div>
<div th:replace="admin/footer :: content"></div>
</div>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $(document).ready(function () {
        $('#questionManager').addClass("active");
    });
</script>
</body>
</html>