<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Tin tức</title>
    <div th:replace="fragments/init_lib :: header"></div>
    <link rel="stylesheet" th:href="@{/css/main2.css}"/>

</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div class="container">
        <div class="row" id="post">
            <div class="col-12 col-md-8 main-content">
                <!-- Phần breadcrumb -->
                <div class="main-breadcrumb">
                    <span><a href="#">Home</a></span>
                    <span><a href="#">Tin tức</a></span>
                    <span>Chi tiết</span>
                </div>

                <!-- Các tag -->
                <div class="post-tag">
                    <div class="item-tag">
                        <a href="#">Tin mới</a>
                    </div>
                    <div class="item-tag">
                        <a href="#">Tin xem nhiều </a>
                    </div>
                    <div class="item-tag">
                        <a href="#">Tin tuyển sinh</a>
                    </div>
                </div>

                <!-- Tiêu đề  -->
                <h1 class="main-title" th:text="${news.title}"></h1>

                <!-- Thông tin ngày đăng -->
                <div class="post-more-info">
                    <div class="entry-date" th:text="${#dates.format(news.insertDate, 'dd/MM/yyyy HH:mm')}"></div>
                    <div class="clear"></div>
                </div>

                <!-- Bài Viết -->
                <article class="post-main-content">
                    [(${news.content})]
                </article>
                <div class="post-category">
                    <div class="item-category">
                        <a href="#">Tin giáo dục</a>
                    </div>
                    <div class="item-category">
                        <a href="#">Tin tuyển sinh </a>
                    </div>
                    <div class="item-category">
                        <a href="#">Bí kíp học tập</a>
                    </div>
                </div>
                <div class="comment-lesson">
                    <h3>Bình luận</h3>
                    <div class="list-comment">
                    </div>

                    <div class="row">
                        <button class="btn btn-success load-more-comment">Load more</button>
                    </div>

                    <div class="comment-add" sec:authorize="isAuthenticated()">
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-12 mb-12">
                                    <textarea type="text" class="form-control" id="comment" placeholder="Bình Luận" rows="3" value="Mark" required></textarea>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Kiểm tra lại Bình luận của bạn
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="send-comment" type="submit">Gửi Bình Luận</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4 main-sliderbar">
                <div class="posts-common">
                    <div class="posts-title">
                        <span>Bài viết xem nhiều</span>
                    </div>
                    <div class="list-item">
                        <div class="item-child" th:each="item:${newshot}">
                            <div class="item-image">
                                <a th:href="@{/tintuc(newsId=${item.id})}" class="td-image-wrap">
                                    <div class="entry-thumb">
                                        <img th:src="@{/image/news/{image}(image=${item.image})}">
                                    </div>
                                </a>
                            </div>
                            <div class="item-details">
                                <h3 class="entry-title td-module-title">
                                    <a th:href="@{/tintuc(newsId=${item.id})}" rel="bookmark" th:text="${item.title}"></a>
                                </h3>
                                <div class="td-module-meta-info">
                                    <span class="td-post-date">
                                    <time class="entry-date updated td-module-date"
                                          datetime="2020-08-01T07:52:59+00:00" ><span th:text="${item.insertDate}"></span></time>
                                </span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="posts-prominent">
                    <div class="posts-title">
                        <span>Bài viết mới</span>
                    </div>
                    <div class="list-item">
                        <div class="item-child" th:each="item:${newById}">
                            <div class="item-image">
                                <a th:href="@{/tintuc(newsId=${item.id})}" class="td-image-wrap">
                                    <div class="entry-thumb">
                                        <img th:src="@{/image/news/{image}(image=${item.image})}">
                                    </div>
                                </a>
                            </div>
                            <div class="item-details">
                                <h3 class="entry-title td-module-title">
                                    <a th:href="@{/tintuc(newsId=${item.id})}" rel="bookmark" th:text="${item.title}"></a>
                                </h3>
                                <div class="td-module-meta-info">
                                    <span class="td-post-date">
                                    <time class="entry-date updated td-module-date"
                                          datetime="2020-08-01T07:52:59+00:00" ><span th:text="${item.insertDate}"></span></time>
                                </span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var page = 1;
    var perPage = 5;
    var loadMore = true;
    var addComented = 0;
    var newsId = '[[${news.id}]]';
    let timeComment = null;

    loadComment(null, newsId);
    $('.load-more-comment').click(() => {
        loadComment(null, newsId);
    })

    $('#send-comment').click((e) => {
        e.preventDefault();
        let content = $('#comment').val();
        if (content.length === 0 || content === "") {
            alert("Nội dung bình luận không được bỏ trống");
            return;
        }

        addComment(content, null, newsId);
    })

    async function loadComment(lissonId = null, newsId = null) {
        await $.ajax({
            type: "get",
            url: '[[@{/comment/get-comment}]]', // ajax gọi comment
            data: {
                lissonId: lissonId,
                newsId: newsId,
                perPage: perPage,
                page: page
            },
            dataType: "json",
            success: function (response) {
                let rdCMT = renderCMT(response.listComment);
                let oldCmT = $('.list-comment').html();
                $('.list-comment').html(oldCmT + rdCMT);
                if ((response.page * response.perPage) > response.totalComent) {
                    loadMore = false;
                }
                ++page;
            }
        });

        if (loadMore === false) {
            $('.load-more-comment').hide();
        }

    }

    function renderCMT(listComment) {
        var resStr = '';
        let countCheck = 0;
        listComment.forEach((v, k) => {
            ++countCheck;
            if (countCheck > addComented) {
                let _url ="image/user";
                addComented = 0;
                resStr += `
                <div class="item-comment">
                    <div class="comment-image"><img src="${_url}/${v.userImage}" alt=""></div>
                    <div class="comment-main-content">
                        <div class="comment-infor">
                            <div class="comment-infor-author">
                                <a href="#">${v.userName}</a>
                            </div>
                            <div class="comment-infor-time">${v.timeComment}</div>
                        </div>
                        <div class="comment-content">${v.contentComment}</div>`

                resStr += '</div><div class="clear"></div></div>';
            }
        });

        return resStr;
    }

    function addComment(content, lissonId = null, newsId = null) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '[[@{/comment/add-comment}]]', // ajax gọi comment
            cache: false,
            data: {
                lessonId: lissonId,
                newsId: newsId,
                content: content
            },
            success: function (response) {
                let rdCMT = renderCMT([response.commentInfor]);
                let oldCmT = $('.list-comment').html();
                $('.list-comment').html(rdCMT + oldCmT);
                $('#comment').val("");
                ++addComented;

                if(addComented >= perPage) {
                    ++perPage;
                    addComented = 0;
                }
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
    }
</script>
</main>
</body>
</html>