<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Bài học</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="class">
    <div class="container">
        <!-- banner -->
        <div class="banner class-banner">
            <h2 class="title" th:text="${className}"></h2>
        </div>
        <!-- class content-->
        <section class="class-content">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="class-left">
                        <!-- list-subject -->
                        <div class="class-sectionTitle">
                            <span>Danh sách môn học</span>
                        </div>
                        <div class="list-subject">
                            <a th:each="item:${listSubject}">
                                <div class="subject-item">
                                    <img th:src="@{'/image/subject/'+${item.image}}">
                                </div>
                            </a>
                        </div>
                        <!-- test-list -->
                        <div class="class-sectionTitle">
                            <span>Danh sách đề thi mới</span>
                        </div>
                        <div class="test-list">
                            <a href="#">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right2.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="class-right">
                        <div class="class-sectionTitle">
                            <span>Các bài học xem nhiều</span>
                        </div>
                        <div class="sidebar-content">
                            <ul>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            </ul>
                        </div>

                        <div class="class-sectionTitle">
                            <span>Đề thi làm nhiều</span>
                        </div>
                        <div class="sidebar-content">
                            <ul>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            </ul>
                        </div>
                        <div class="class-sectionTitle">
                            <span>Bí kíp học tập</span>
                        </div>

                        <div class="sidebar-content">
                            <ul>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li class="list-item"><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 footer-col">
                <a class="logo" href="#">
                    <img src="./images/logo.png" alt="">
                </a>
                <a href="#">Luyện thi 365</a>
                <p>Học là giỏi</p>
            </div>
            <div class="col-md-4 col-12 footer-col">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Học Tập</a></li>
                    <li><a href="#">Luyện Thi</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>
                <span>Contact : <a href="tel:033651959">033651959</a></span>
            </div>
            <div class="col-md-4 col-12 footer-col">
                <span>Phản hồi</span>
                <form action="">
                    <input type="text" placeholder="email" id="txt_mail">
                    <input type="text" placeholder="Nội dung" id="txt_content">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            coppy right
        </div>
    </div>
</footer>
<div th:replace="fragments/init_lib :: script"></div>
<script>

    $(document).ready(function (){
        var acc =$('#account').val();
        if(acc != null || acc != undefined){
            $('#div-account').removeClass('d-none');
            $('#link-login').addClass('d-none');
        }else {
            $('#div-account').addClass('d-none');
            $('#link-login').removeClass('d-none');
        }

        var logout= $('#msg-logout').val();
        if(logout != null){
            alert("Đăng xuất thành công.");
        }
    });
</script>
</body>

</html>