<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Lớp học</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="class">
    <div class="container">
        <!-- banner -->
        <div class="banner class-banner">
        </div>
        <!-- class content-->
        <section class="class-content">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="class-left">
                        <!-- list-subject -->
                        <div class="class-sectionTitle">
                            <span>Danh sách lớp học</span>
                        </div>
                        <div class="list-subject">
                            <a th:href="@{/monhoc(class_id=${item.id})}" th:each="item:${listClass}">
                                <div class="subject-item">
                                    <img th:src="@{/image/classroom/{image}(image=${item.image})}">
                                </div>
                            </a>
                        </div>
                        <!-- test-list -->
                        <div class="class-sectionTitle">
                            <span>Danh sách đề thi mới</span>
                        </div>
                        <div class="test-list">
                            <a href="#">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img src="./images/img-right2.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Khóa học 1
                                        </h3>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                                            itaque!
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/sidebar::content"></div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/footer::content"></div>
<div th:replace="fragments/init_lib :: script"></div>
</body>

</html>