<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Kiểm tra</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>

<body>
<section class="container">
    <h2>Thời gian</h2>
    <div id="timer">
        <span id="hours">00</span> :
        <span id="minutes">00</span> :
        <span id="seconds">00</span>
    </div>
</section>
<section class="main-exam container">
    <h2>Bài thi</h2>
    <div class="exam-content">
        <div class="list-question">
            <div class="item-question">
                <div class="title">
                    <b><span class="question-no">1</span> Câu hỏi số 1</b>
                </div>
                <div class="content">
                    <div class="content-ans">
                        <input type="radio" name=""  value="" title="">
                        <span>Câu trả lời 1</span>
                    </div>
                    <div class="content-ans">
                        <input type="radio" name="" value="" title="">
                        <span>Câu trả lời 1</span>
                    </div>
                    <div class="content-ans">
                        <input type="radio" name=""  value="" title="">
                        <span>Câu trả lời 1</span>
                    </div>
                    <div class="content-ans">
                        <input type="radio" name="" value="" title="">
                        <span>Câu trả lời 1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="test-more container">
    <div class="row">
        <div class="col-md-4 text-left">
            <button class="btn-pre btn btn-primary">Trở lại câu hỏi trước</button>
        </div>
        <div class="col-md-4 text-center test-more-infor">
            <button class="btn-finish btn btn-success">Hoàn Thành Bài Thi</button>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn-next btn btn-primary">Câu hỏi tiếp theo</button>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>