<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Lớp học</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="class">
    <div class="container">
        <!-- banner -->
        <div class="banner exam-banner">
        </div>
        <!-- class content-->
        <section class="class-content">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="class-left">
                        <!-- list-subject -->
                        <div class="class-sectionTitle">
                            <span>Danh sách lớp học</span>
                        </div>
                        <div class="list-subject">
                            <a th:href="@{/kiemtra/class/list-exam(classId=${item.id})}" th:each="item:${listClassEx}">
                                <div class="subject-item">
                                    <img th:src="@{/image/classroom/{image}(image=${item.image})}">
                                </div>
                            </a>
                        </div>

                        <div class="class-sectionTitle">
                            <span>Danh sách đề thi mới</span>
                        </div>
                        <div class="test-list" >
                            <a th:each="item:${listExam}" th:href="@{/kiemtra/info(examId=${item.id})}">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img th:src="@{/image/subject/{image}(image=${item.getExam_subject().image})}" alt="">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Mã đề thi: <span th:text="${item.codeExam}"></span> <br>
                                            Môn học: <span th:text="${item.exam_subject.name}"></span> - <span th:text="${item.exam_classroom.classname}"></span></h6>
                                        <span> Thời gian: <span th:text="${item.timeOut}"> </span> phút</span><br>
                                        <p class="description" th:text="${item.title}">
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div th:replace="fragments/sidebar::content"></div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/footer::content"></div>
<div th:replace="fragments/init_lib :: script"></div>
</body>

</html>