<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Bài thi</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="subject-knowledge">
    <div class="container">
        <!-- banner -->
        <div class="banner exam-banner">
        </div>
        <!-- class content-->
        <section class="subject-knowledgeContent">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="subject-knowledgeLeft">
                        <!-- Subject knowledge -->
                        <div class="class-sectionTitle">
                            <span>Danh sách bài thi</span>
                        </div>
                        <div class="list-knowledge">
                            <div class="knowledge-item" th:if="${not #strings.isEmpty(listExams)}"
                                 th:each="item:${listExams}">
                                <p th:text="${item.title}"></p>
                                <a th:href="@{/kiemtra/info(examId=${item.id})}">Kiểm tra</a>
                            </div>
                            <div class="knowledge-item" th:if="${not #strings.isEmpty(emptyExam)}">
                                <h3>Xin lỗi, môn học này chưa có bài thi, vui lòng quay lại sau.</h3>
                            </div>
                        </div>
                        <!-- test-list -->
<!--                        <div class="class-sectionTitle">-->
<!--                            <span>Danh sách đề thi mới</span>-->
<!--                        </div>-->
<!--                        <div class="test-list">-->
<!--                            <a href="">-->
<!--                                <div class="test-listItem">-->
<!--                                    <div class="img">-->
<!--                                        <img src="./images/img-right1.png" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <h3 class="title">-->
<!--                                            Khóa học 1-->
<!--                                        </h3>-->
<!--                                        <p class="description">-->
<!--                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,-->
<!--                                            itaque!-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="">-->
<!--                                <div class="test-listItem">-->
<!--                                    <div class="img">-->
<!--                                        <img src="./images/img-right1.png" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <h3 class="title">-->
<!--                                            Khóa học 1-->
<!--                                        </h3>-->
<!--                                        <p class="description">-->
<!--                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,-->
<!--                                            itaque!-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="">-->
<!--                                <div class="test-listItem">-->
<!--                                    <div class="img">-->
<!--                                        <img src="./images/img-right2.png" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <h3 class="title">-->
<!--                                            Khóa học 1-->
<!--                                        </h3>-->
<!--                                        <p class="description">-->
<!--                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,-->
<!--                                            itaque!-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                </div>
                <div th:replace="fragments/sidebar :: content"></div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
</body>

</html>