<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="content" th:remove="tag">
    <div class="container">
        <nav class="menu d-none d-lg-block">
            <div class="row">
                <div class="col-md-8 col-12">
                    <ul class="menu-left">
                        <li><a th:href="@{/}">Trang chủ</a></li>
                        <li>
                            <a href="#">Học tập</a>
                            <ul>
                                <li th:each="item:${listClass}">
                                    <a th:href="@{'/monhoc?class_id=' +${item.id}}" th:text="${item.classname}"></a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/kiemtra/list-class}">kiểm tra</a></li>
                        <li><a th:href="@{/tintuc/list-news}">Tin tức</a></li>
                        <li><a th:href="@{/contact}">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <div class="menu-right">
                        <button class="btn-login" id="link-login">
                            <i class="fa fa-user"></i><a th:href="@{/login}"> Đăng nhập</a>
                        </button>
                        <div class="dropdown d-none" id="div-account" sec:authorize="isAuthenticated()">
                            <button class="dropdown-toggle btn-login"
                                    type="button" id="account" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" sec:authentication="principal.username">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="adminManager" th:href="@{/admin/home}">Quản lí</a>
                                <a class="dropdown-item" th:href="@{/user/profile}">Profile</a>
                                <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
                            </div>
                        </div>
                        <div th:if="${param.logout}" id="msg-logout"></div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="lg-menu d-lg-none">
            <div class="searchBox">
                <input type="text" placeholder="Mời bạn nhập thông tin...">
                <button class="btn-search"><i class="fa fa-search"></i></button>
            </div>
            <ul>
                <button class="btn-showMenu d-lg-none">
                    <i class="fa fa-bars"></i>
                </button>
                <li><a href="#">Trang chủ</a></li>
                <li hasSubMenu="true">
                    <a href="#">Học tập <i class="fa fa-chevron-down"></i></a>
                    <ul>
                        <li th:each="item:${listClass}">
                            <a th:href="@{'/monhoc?class_id='+ ${item.id}}" th:text="${item.classname}"></a>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/kiemtra/list-class}">kiểm tra</a></li>
                <li><a th:href="@{/tintuc/list-news}">Tin tức</a></li>
                <li><a th:href="@{/contact}">Liên hệ</a></li>
                <li hasSubMenu="true">
                    <a href="#"><i class="fa fa-user"></i>Đăng nhập</a>
                    <ul>
                        <li>Đăng xuất</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>