:root {
    --primary-color: rgb(250, 188, 60);
    --orange-soda: rgb(245, 85, 54);
    --white: rgb(254, 253, 255);
    --black: rgb(3, 3, 1);
    --lavender-web: rgb(219, 216, 240);
    --quick-silver: rgb(157, 160, 158);
}