:root {
    --primary-color: #477d86;
    --secondary-color: #4e8790;
    --white: rgb(254, 253, 255);
    --black: rgb(3, 3, 1);
    --lavender-web: rgb(219, 216, 240);
    --quick-silver: rgb(157, 160, 158);
}