body{
    background: url("../image/background_login.jpg")  no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    text-decoration: none;
}
.hide{
    display: none;
}
.span-vld{
    color: red;
}
.logo-login{
    width: 180px;
    height: 110px;
    margin-left: 96px;
    margin-bottom: 20px;
}
/* sign in FORM */
#logreg-forms{
    border-radius: 4px;
    width:420px;
    margin:7vh auto;
    background-color:#f3f3f3;
    box-shadow:0 1px 3px;
    transition: all 0.3s;
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: 5px;
}
#logreg-forms .form-signin input[type="password"] {
    margin-bottom: 5px;
}

#logreg-forms .social-login{
    width:390px;
    margin: 0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:180px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    color: white;
    text-decoration: none;
}
#logreg-forms a:hover{
    color: #0e94a2;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }


#logreg-forms .form-signup input { margin-bottom: 7px;}


/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }

    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 5px;
    }
    #logreg-forms  .social-btn{
        font-size: 19px;
        color:white;
        width:210px;
        height: 38px;

    }
    #logreg-forms .form-signin input[type="email"]{
        height: 37px;
    }
    #logreg-forms .form-signin input[type="password"]{
        height: 37px;
    }
    #logreg-forms .form-signup input[type="email"]{
        height: 37px;
    }
    #logreg-forms .form-signup input[type="password"]{
        height: 37px;
    }
    #logreg-forms .form-signup input[type="text"]{
        height: 37px;
    }

    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }

    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    .logo-login{
        width: 145px;
        height: 81px;
        margin-left: 69px;
        margin-bottom: 20px;
    }

}