<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Home</title>
    <div th:replace="fragments/init_lib :: header"></div>
</head>

<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="home">
    <div class="container">
        <!-- banner -->
        <div class="banner">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="banner-left">
                        <div class="banner-slider">
                            <div class="banner-sliderItem">
                                <img th:src="@{/image/slider.png}" alt="">
                            </div>
                            <div class="banner-sliderItem">
                                <img th:src="@{/image/slider1.png}" alt="">
                            </div>
                            <div class="banner-sliderItem">
                                <img th:src="@{/image/slider2.png}" alt="">
                            </div>
                            <div class="banner-sliderItem">
                                <img th:src="@{/image/slider3.png}" alt="">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="banner-right">
                        <div class="banner-rightImage">
                            <div class="item">
                                <a href="#"><img th:src="@{/image/img-right1.png}" alt=""></a>
                                <div class="news-right">
                                    <a href="#">Bí kíp học tập đạt kết quả cao.</a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-rightImage">
                            <div class="item">
                                <img th:src="@{/image/img-right2.png}" alt="">
                                <div class="news-right">
                                    <a href="#">Học trực tuyến cần kĩ năng gì ?</a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-rightImage">
                            <div class="item">
                                <img th:src="@{/image/img-right3.png}" alt="">
                                <div class="news-right">
                                    <a href="#">Học trực tuyến tốt hay không?</a>
                                </div>
                            </div>

                        </div>
                        <div class="banner-rightImage">
                            <div class="item">
                                <img th:src="@{/image/img-right4.png}" alt="">
                                <div class="news-right">
                                    <a href="#">Nên học trực tuyến ở đâu ?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- study -->
        <section class="study">
            <div class="section-header">
                <h2 class="section-title">Học tập</h2>
                <div class="section-img">
                    <img th:src="@{/image/study.png}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="news-leftTitle">
                        <span><i class="fa fa-graduation-cap" ></i> Danh sách lớp học</span>
                    </div>
                    <div class="study-left">
                        <ul class="nav study-tabHeader" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="study-tabBtn active" id="pills-home-tab" data-toggle="pill"
                                   href="#pills-home" role="tab" aria-controls="pills-home"
                                   aria-selected="true">Tiểu học</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="study-tabBtn" id="pills-profile-tab" data-toggle="pill"
                                   href="#pills-profile" role="tab" aria-controls="pills-profile"
                                   aria-selected="false">THCS </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="study-tabBtn" id="pills-contact-tab" data-toggle="pill"
                                   href="#pills-contact" role="tab" aria-controls="pills-contact"
                                   aria-selected="false">THPT</a>
                            </li>
                        </ul>
                        <div class="tab-content study-tabContent" id="pills-tabContent">
                            <div class="tab-pane  fade active show" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <div class="study-slider">
                                    <div class="study-sliderItem" th:each="item:${listClassTH}">
                                        <a th:href="@{'/monhoc?class_id='+${item.id}}"><img th:src="@{'/image/classroom/'+${item.image}}"></a>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade " id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <div class="study-slider">
                                    <div class="study-sliderItem" th:each="item:${listClassTHCS}">
                                        <a th:href="@{'/monhoc?class_id='+${item.id}}"><img th:src="@{'/image/classroom/'+${item.image}}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade " id="pills-contact" role="tabpanel"
                                 aria-labelledby="pills-contact-tab">
                                <div class="study-slider">
                                    <div class="study-sliderItem" th:each="item:${listClassTHPT}">
                                        <a th:href="@{'/monhoc?class_id='+${item.id}}"><img th:src="@{'/image/classroom/'+${item.image}}"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="study-right">
                        <div class="study-rightTitle">
                            <span><i class="fa fa-file-text" ></i> Danh sách bài kiểm tra mới</span>
                        </div>
                        <div class="study-listChemistry">
                            <a href="#" th:each="item:${listExam}">
                                <div class="study-chemistryItem" >
                                    <div class="img">
                                        <img th:src="@{/image/img-right1.png}" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Môn học: <span style="color: #65d258" th:text="${item.getExam_subject().name}"></span>
                                            &nbsp;&nbsp; <i class="fa fa-clock-o" ></i> Thời gian: <span th:text="${item.timeOut} +' phút'"> </span>
                                        </h3>
                                        <span>Mã đề :<span th:text="${item.codeExam}"></span> - <span class="description" th:text="${item.title}"></span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="study-banner">
                        <div class="study-banner--1">
                            <div class="item-banner">
                                <img th:src="@{/image/learn1.png}">
                                <p>Học tập mọi lúc, mọi nơi</p>
                            </div>
                        </div>
                        <div class="study-banner--2">
                            <div class="item-banner">
                                <img th:src="@{/image/learn2.png}">
                                <p>Ôn tập đầy đủ các môn học</p>
                            </div>
                        </div>
                        <div class="study-banner--3">
                            <div class="item-banner">
                                <img th:src="@{/image/learn3.jpg}">
                                <p>Học tập dễ dàng, hiệu quả</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- test -->
        <section class="test">
            <div class="section-header">
                <h2 class="section-title">Kiểm tra</h2>
                <div class="section-img">
                    <img th:src="@{/image/test.png}" alt="">
                </div>
            </div>
            <div class="test-slider">
                <div class="test-sliderItem" th:each="item:${listSubject}">
                    <div class="subject" >
                        <a th:href="@{/lophoc/list-class(subjectId=${item.id})}">
                            <img th:src="@{'/image/subject/'+ ${item.image}}">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- news -->
        <section class="news">
            <div class="section-header">
                <h2 class="section-title">Tin tức</h2>
                <div class="section-img">
                    <img th:src="@{/image/newspaper.png}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="news-left">
                        <div class="news-leftTitle">
                            <span><i class="fa fa-book" aria-hidden="true"></i> Danh sách bài học mới</span>
                        </div>
                        <div class="news-list">
                            <a href="#" th:each="item:${lessonList}">
                                <div class="news-listItem">
                                    <div class="img">
                                        <img th:src="@{'/image/subject/'+ ${item.image}}" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Môn học: <span th:text="${item.getSubject().name}"></span>
                                        </h3>
                                        <span class="description">
                                           Nội dung : <span th:text="${item.lessonName}"></span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="news-left">
                        <div class="news-leftTitle">
                            <span><i class="fa fa-book" aria-hidden="true"></i> Danh sách điểm cao</span>
                        </div>
                        <div class="news-list">
                            <a href="#" th:each="item:${lessonList}">
                                <div class="news-listItem">
                                    <div class="img">
                                        <img th:src="@{'/image/subject/'+ ${item.image}}" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">
                                            Môn học: <span th:text="${item.getSubject().name}"></span>
                                        </h3>
                                        <span class="description">
                                           Thành viên : <span> Nguyễn Văn A</span><br>Số điểm: 9
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="news-right">
                        <div class="news-rightTitle">
                            <span><i class="fa fa-newspaper-o" ></i> Danh sách tin tức mới</span>
                        </div>
                        <div class="news-list">
                            <a th:href="@{'/tintuc?id='+${item.id}}" th:each="item:${listNews}">
                                <div class="news-listItem">
                                    <div class="img">
                                        <img th:src="@{/image/img-right1.png}" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title" th:text="${item.title}">
                                        </h4>
                                        <span class="description">
                                            <i class="fa fa-angle-double-right"></i>Thời gian:<span th:text="${#dates.format(item.insertDate, 'dd/MM/yyy HH:mm')}"></span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- feel of student -->
        <section class="feel">
            <div class="section-header">
                <h2 class="section-title">Cảm nhận của học sinh</h2>
                <div class="section-img">
                    <img th:src="@{/image/feelings.png}" alt="">
                </div>
            </div>
            <div class="feel-slider">
                <div class="feel-sliderItem">
                    <div class="feel-content">
                        <div class="avatar">
                            <img th:src="@{/images/img-right1.png}" alt="">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium qui excepturi
                        </p>
                    </div>
                </div>
                <div class="feel-sliderItem">
                    <div class="feel-content">
                        <div class="avatar">
                            <img th:src="@{/images/img-right2.png}" alt="">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium qui excepturi

                        </p>
                    </div>
                </div>
                <div class="feel-sliderItem">
                    <div class="feel-content">
                        <div class="avatar">
                            <img th:src="@{/images/img-right3.png}" alt="">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium qui excepturi
                        </p>
                    </div>
                </div>
                <div class="feel-sliderItem">
                    <div class="feel-content">
                        <div class="avatar">
                            <img th:src="@{/images/img-right4.png}" alt="">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium qui excepturi
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
<script>
    $(document).ready(function (){
        var acc =$('#account').val();
        if(acc != null || acc != undefined){
            $('#div-account').removeClass('d-none');
            $('#link-login').addClass('d-none');
        }else {
            $('#div-account').addClass('d-none');
            $('#link-login').removeClass('d-none');
        }

        var logout= $('#msg-logout').val();
        if(logout != null){
            alert("Đăng xuất thành công.");
        }
    });

</script>
</body>
</html>