<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <content th:replace="fragments/init :: header"></content>

</head>
<body>

<a th:href="@{login}">Login</a>
<div sec:authorize="isAuthenticated()">
    Authenticated as :<span sec:authentication="principal.username"></span>
</div>
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Logout" />-->
<!--</form>-->
<content th:replace="fragments/init :: script"></content>
</body>
</html>