<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Bài thi</title>
    <div th:replace="fragments/init_lib :: header"></div>
    <style>
        .card-body{
            padding: 0px !important;
            margin-bottom: 16px;
        }
        .card{
            text-align: center !important;
        }
        .card-body a{
            background: cadetblue;
            border: 1px solid;
            font-weight: bold;
            font-size: 16px;
            padding: 7px;
            margin: 2px;
            color: white;
            border-radius: 5px;
        }
        .card-body a:hover{
            color: #52f518;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="home">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12  d-flex justify-content-center">
                <h4>Danh sách các bài đã thi</h4>
            </div>
            <div class="row col-md-12  d-flex justify-content-center">
                <div class="col-md-2 col-6 p-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6 p-2">
                    <div class="card" >
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6 p-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6 p-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6 p-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6 p-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/image/subject/toan.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Mã Đề: TIENGANH005</h3>
                            <h3 class="card-title">Số điểm: 0.5</h3>
                            <a th:href="@{#}" class="">Xem lại</a>
                            <a th:href="@{#}" class="">Làm lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
</body>
</html>