<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Liên hệ</title>
    <div th:replace="fragments/init_lib :: header"></div>
    <style>
        .contact_mess h4{
            color: #ca2323;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="home">
    <div class="container d-flex justify-content-center">
       <div class="row">
           <div class="col-md-12 contact_mess">
               <h4>Cảm ơn bạn đã phản hồi lại ý kiến cho hệ thống.</h4><br>
               <img th:src="@{/image/contact-thanks.png}">
           </div>
       </div>
    </div>
</main>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
</body>
</html>