<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
    <div th:replace="fragments/init :: header"></div>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>
<div id="logreg-forms">
    <form class="form-signin" th:action="@{/reset_password}" method="post">
        <h2 class="h3 mb-3" style="text-align: center"> Reset Password</h2>
        <div align="center" th:if="${not #strings.isEmpty(error)}" >
            <p style="font-size: 14px; color: #FF1C19;" th:text="${error}"></p>
        </div>
        <div align="center" th:if="${not #strings.isEmpty(success)}" >
            <p style="font-size: 14px; color: #FF1C19;" th:text="${success}"></p>
        </div>
        <input type="email" id="inputEmail" class="form-control"
               placeholder="Email" name="email" required="" autofocus="">

        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <a th:href="@{/login.html}" id="" style="color: #005cbf;margin-top: 10px"> <i class="fa fa-angle-left"></i> Về đăng nhập</a>
        <hr>
    </form>
</div>
<div th:replace="fragments/init :: script"></div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>