<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vali Admin</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="app sidebar-mini">
<div th:replace="admin/header :: content"></div>
<div th:replace="admin/sidebar :: content"></div>
<main class="app-content">
    <div class="app-title">
        <h5 style="padding-top: 10px"><i class="fa fa-book mr-2 fa-lg"></i> Thông tin thể loại</h5>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg mt-1 mr-1" ></i><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Quản lí thể loại</a></li>
            <li class="breadcrumb-item"><a href="#">Thêm thể loại</a></li>
        </ul>
    </div>
    <div class="container rounded bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Thêm thể loại</h4>
                    </div>
                    <form th:action="@{/news/add-category-news}" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labels">Tên thể loại</label>
                                <input type="text" class="form-control" name="categoryName" >
                            </div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Thêm thể loại</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $("#newsManager").addClass("active");
</script>
</body>
</html>