<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vali Admin</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>
<body class="app sidebar-mini">
<div th:replace="admin/header :: content"></div>
<div th:replace="admin/sidebar :: content"></div>
<main class="app-content">
    <div class="app-title">
        <h5 style="padding-top: 10px"><i class="fa fa-user mr-2 fa-lg"></i> Thông tin tin tức </h5>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg mt-1 mr-1" ></i><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Quản lí tin tức</a></li>
            <li class="breadcrumb-item"><a href="#">Chi tiết tin</a></li>
        </ul>
    </div>
    <div class="container rounded bg-white">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column align-items-center text-center">
                    <img class="mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                    <label>Hình tiêu đề</label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Chi tiết tin tức</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Tiêu đề</label>
                            <input type="text" class="form-control" th:value="${news.title}"   >
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Thể loại</label>
                            <input type="text" class="form-control" th:value="${news.categoryNews.getCategoryName()}" readonly >
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Ngày tạo</label>
                            <input type="text" class="form-control" th:value="${news.insertDate}" readonly >
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Người tạo</label>
                            <input type="text" class="form-control" th:value="${news.insertBy}" readonly >
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Số lượt xem</label>
                            <input type="text" class="form-control" th:value="${news.views}" readonly >
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Tag</label>
                            <input type="text" class="form-control" th:value="${news.tag}" readonly >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Nội dung</label>
                            <br>
                            <textarea type="text" name="content" id="content"  class="form-control" th:field="${news.content}" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>
<div th:replace="admin/init_admin :: script"></div>
<script th:src="@{/ckeditor/ckeditor.js}" type="text/javascript"></script>
<script>

    $("#newsManager").addClass("active");

    var editor="";
    $(document).ready(function (){
        editor= CKEDITOR.replace('content')
    })
</script>
</body>
</html>