<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Danh sách thể loại</title>
    <div th:replace="admin/init_admin :: header"></div>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="admin/sidebar :: content"></div>
        <div th:replace="admin/header :: content"></div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3> <small>Danh sách thể loại</small></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_title">
                            <h5>Tùy chọn tìm kiếm</h5>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <form th:action="@{/news/list-category}" method="get">
                        <div class="col-md-6 col-sm-12">
                            <label>Tên thể loại</label>
                            <div>
                                <input class="form-control" name="searchCategory" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-3"></div>
                    <form th:action="@{/news/add-category}" method="post">
                        <div class="col-md-7 col-sm-12 ">
                            <label>Thêm thể loại</label>
                            <div>
                                <input class="form-control" name="categoryname" type="text" >
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <label>&nbsp</label>
                            <div>
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-success col-md-12" id="success"
                             th:if="${not #strings.isEmpty(success)}" th:text="${success}" style="color: white;padding: 10px">
                        </div>
                        <div class="bg-danger col-md-12" id="error"
                             th:if="${not #strings.isEmpty(error)}" th:text="${error}" style="color: white;padding: 10px">
                        </div>
                        <div class="tile-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="sampleTable">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên thể loại tin tức</th>
                                        <th>Trạng thái</th>
                                        <th>Tuỳ chọn</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${pageInfo.content != null}">
                                    <tr th:each=" row,iterStat: ${pageInfo.content}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${row.categoryName}"></td>
                                        <td th:if="${row.status==1}">
                                            <a th:href="@{/news/update-category-status(id=${row.id},status=${row.status})}" id="confirmDisable" class="btn btn-success" title="Active">Active</a>
                                        </td>
                                        <td th:if="${row.status==0}">
                                            <a th:href="@{/news/update-category-status(id=${row.id},status=${row.status})}" id="confirmActive" class="btn btn-secondary" title="Disable">Disable</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/news/update-category/{id}(id=${row.id})}" class="btn btn-success" title="Chỉnh Sửa"><i class="fa fa-edit" ></i></a>
                                            <a th:href="@{/news/delete-category(id=${row.id},status=${row.status})}" class="btn btn-danger" id="confirmDelete" title="Xóa" ><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:replace="admin/pagging::content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- page content -->
    </div>
</div>
<div th:replace="admin/modal_confirm::content"></div>
<div th:replace="admin/modal_active::content"></div>
<div th:replace="admin/modal_disable::content"></div>
<div th:replace="admin/footer :: content"></div>
</div>
<div th:replace="admin/init_admin :: script"></div>
<script>
    $("#newsManagerManager").addClass("active");
</script>
</body>
</html>