<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Bài học</title>
    <div th:replace="fragments/init_lib :: header"></div>
    <style>
        .prev-next a{
            margin-top: 30px;
            padding: 8px;
            border: 1px solid;
            font-weight: bold;
            border-radius: 3px;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/main2.css}"/>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<div th:replace="fragments/menu :: content"></div>
<main class="subject-knowledge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div class="container">
        <!-- banner -->
        <div class="banner class-banner">
            <h2 class="title" th:text="${lessonContent.classroom.classname}"></h2>
        </div>
        <!-- class content-->
        <section class="subject-knowledgeContent">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="subject-knowledgeLeft">
                        <!-- Subject knowledge -->
                        <div class="class-sectionTitle">
                            <span>Kiến thức môn học</span>
                        </div>
                        <div class="list-knowledge">
                            <div class="title_lesson">
                                <h3>Môn học: <span th:text="${lessonContent.subject.name}"></span> - <span th:text="${lessonContent.classroom.classname}"></span></h3>
                                <h3>Bài học: <span th:text="${lessonContent.lessonName}"></span></h3>

                            </div>
                            <div class="main_lesson">
                                <div class="main_top">Nội dung bài học:</div>
                                <div class="main">[(${lessonContent.lessonContent})]</div>
                                <div class="footer_lesson">
                                    <div class="row">
                                        <div class="col-md-6 col-6 view">
                                            <p>Số lượt xem: <i class="fa fa-eye" aria-hidden="true"></i><span th:text="${lessonContent.views}"></span></p>
                                        </div>
                                        <div class="col-md-6 col-6 share">
                                            <p>Chia sẻ ngay</p>
                                            <a th:href="@{https://www.facebook.com/sharer.php?u=luyenthi365.info}" target="_blank"><i  class="fa fa-facebook "></i> Facebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="text" hidden="true" id="prev" th:value="${lessonPrev}"/>
                            <input type="text" hidden="true" id="next" th:value="${lessonNext}"/>
                            <div class="row">
                                <div class="col-md-6 col-6 d-flex justify-content-center prev-next">
                                    <a class="btnPrev" th:href="@{/noidungbaihoc(lessonId=${lessonPrev})}"><i class="fa fa-angle-double-left"></i> Bài học trước</a>
                                </div>
                                <div class="col-md-6 col-6 d-flex justify-content-center prev-next">
                                    <a class="btnNext" th:href="@{/noidungbaihoc(lessonId=${lessonNext})}">Bài học tiếp theo <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="comment-lesson">
                            <h3>Bình luận</h3>
                            <div class="list-comment">
                            </div>

                            <div class="row">
                                <button class="btn btn-success load-more-comment">Xem thêm</button>
                            </div>

                            <div class="comment-add" sec:authorize="isAuthenticated()">
                                <form class="needs-validation" novalidate>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-12">
                                            <textarea type="text" class="form-control" id="comment" placeholder="Bình Luận" rows="3" value="Mark" required></textarea>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Kiểm tra lại Bình luận của bạn
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" id="send-comment" type="submit">Gửi Bình Luận</button>
                                </form>
                            </div>

                        </div>
                        <div class="class-sectionTitle">
                            <span>Danh sách đề thi</span>
                        </div>
                        <div class="test-list" >
                            <a th:each="item:${exam}" th:href="@{/kiemtra/info(examId=${item.id})}">
                                <div class="test-listItem">
                                    <div class="img">
                                        <img th:src="@{/image/subject/{image}(image=${item.exam_subject.image})}" alt="">
                                    </div>
                                    <div class="content">
                                        <h6 class="title">Mã đề thi: <span th:text="${item.codeExam}"></span> <br>
                                            Môn học: <span th:text="${item.exam_subject.name}"></span></h6>
                                        <p class="description" th:text="${item.title}">
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/sidebar :: content"></div>
            </div>
        </section>
    </div>
</main>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/init_lib :: script"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
</script>
<script>

    var prev= $('#prev').val();
    var next= $('#next').val();
    if(prev ==-1){
        $('.btnPrev').removeAttr('href');
    }

    if(next ==-1){
        $('.btnNext').removeAttr('href');
    }

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var page = 1;
    var perPage = 5;
    var loadMore = true;
    var addComented = 0;
    var lessonId = '[[${lessonContent.id}]]';
    let timeComment = null;

    loadComment(lessonId);
    $('.load-more-comment').click(() => {
        loadComment(lessonId);
    })

    $('#send-comment').click((e) => {
        e.preventDefault();
        let content = $('#comment').val();
        if (content.length === 0 || content === "") {
            alert("Nội dung bình luận không được bỏ trống");
            return;
        }

        addComment(content, lessonId);
    })

    async function loadComment(lessonId = null, newsID = null) {
        await $.ajax({
            type: "get",
            url: '[[@{/comment/get-comment}]]', // ajax gọi comment
            data: {
                lessonId: lessonId,
                newsID: newsID,
                perPage: perPage,
                page: page
            },
            dataType: "json",
            success: function (response) {
                let rdCMT = renderCMT(response.listComment);
                let oldCmT = $('.list-comment').html();
                $('.list-comment').html(oldCmT + rdCMT);
                if ((response.page * response.perPage) > response.totalComent) {
                    loadMore = false;
                }

                ++page;
            }
        });

        if (loadMore === false) {
            $('.load-more-comment').hide();
        }

    }

    function renderCMT(listComment) {
        var resStr = '';
        let countCheck = 0;

        listComment.forEach((v, k) => {
            ++countCheck;
            if (countCheck > addComented) {
                let _url ="image/user";
                addComented = 0;
                resStr += `
                <div class="item-comment">
                    <div class="comment-image"><img src="${_url}/${v.userImage}" alt=""></div>
                    <div class="comment-main-content">
                        <div class="comment-infor">
                            <div class="comment-infor-author">
                                <a href="#">${v.userName}</a>
                            </div>
                            <div class="comment-infor-time">${v.timeComment}</div>
                        </div>
                        <div class="comment-content">${v.contentComment}</div>`

                resStr += '</div><div class="clear"></div></div>';
            }

            // resStr += '</div>';
        });

        return resStr;
    }

    function addComment(content, lessonId = null, newsID = null) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '[[@{/comment/add-comment}]]', // ajax gọi comment
            cache: false,
            data: {
                lessonId: lessonId,
                newsId: newsID,
                content: content
            },
            success: function (response) {
                let rdCMT = renderCMT([response.commentInfor]);
                let oldCmT = $('.list-comment').html();
                $('.list-comment').html(rdCMT + oldCmT);
                $('#comment').val("");
                ++addComented;

                if(addComented >= perPage) {
                    ++perPage;
                    addComented = 0;
                }
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
    }
</script>
</body>

</html>